<dom-module id="cuenta-page">

	<template>
		<style>
	    :host { display: block; color: #185aa3; }
	    	.glyphicon-lg
			{
			    font-size:4em
			}
			.info-block
			{
			    border-right:5px solid #E6E6E6;margin-bottom:25px
			}
			.info-block .square-box
			{
			    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:20px 0
			}
			.info-block.block-info
			{
			    border-color:#20819e
			}
			.info-block.block-info .square-box
			{
			    background-color:#20819e;color:#FFF
			}
	   </style>
	   <link href="../assets/css/bootstrap.css" rel="stylesheet" />
		<div class="container">
		    <div class="row">
				<h2>Cuentas</h2>
				<!--<paper-button class="btn btn-lg btn-primary btn-block" on-tap="cargarCuenta">Cargar</paper-button>-->
		        <div class="searchable-container">
		        	<template is="dom-repeat" items={{listaCuentas}} as="cuenta">
			        	
			            <div class="items col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix">
			               <div class="info-block block-info clearfix">
			                    <div class="square-box pull-left">
			                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
			                    </div>
			                    <h5>Nombre cuenta: {{cuenta.nomCuenta}}</h5>
			                    <h4>Nro cuenta: {{cuenta.nroCuenta}}</h4>
			                    <p>Saldo: S/. {{cuenta.saldo}}</p>
			                    <a href="/movimiento/{{cuenta.idCuenta}}">Movimientos</a>
			                </div>
			                
			            </div>
			           
		        	</template>
		        </div>
			</div>
		</div>

		<iron-ajax
		id="doCuentasGetByUser"
	    url=[[api.api_host]][[api.api_usuario]]/[[data_storage.idUsuario]]/[[api.api_cuentas]]
		auto=""
	    content-type="application/json"
	    method="GET"
	    handle-as="json"
	    on-response="cuentasByUserAJAXResponse"
	    on-error="showErrorCuentasByUser"
	    headers$='{"authorization": "{{data_storage.token}}"}'>


	</template>

	<script>
	   class CuentaPage extends Polymer.Element {
	     	static get is() { return 'cuenta-page'; }

	     	/*cargarCuenta() {
		        this.$.doCuentasGetByUser.generateRequest();

	     	}*/

	     	cuentasByUserAJAXResponse(data) {
	     		this.listaCuentas=data.detail.response;

		    }

		    showErrorCuentasByUser(error) {
		      	console.info("error");
		    }
	   }

	   window.customElements.define(CuentaPage.is, CuentaPage);
	</script>

<dom-module>
