<dom-module id="login-page">

	<template>
		<style>
	    :host { display: block; color: #185aa3; }
	    .form-signin
		{
		    max-width: 330px;
		    padding: 15px;
		    margin: 0 auto;
		}
		.form-signin .form-signin-heading, .form-signin .checkbox
		{
		    margin-bottom: 10px;
		}
		.form-signin .checkbox
		{
		    font-weight: normal;
		}
		.form-signin .form-control
		{
		    position: relative;
		    font-size: 16px;
		    height: auto;
		    padding: 10px;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}
		.form-signin .form-control:focus
		{
		    z-index: 2;
		}
		.form-signin input[type="text"]
		{
		    margin-bottom: -1px;
		    border-bottom-left-radius: 0;
		    border-bottom-right-radius: 0;
		}
		.form-signin input[type="password"]
		{
		    margin-bottom: 10px;
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		}
		.account-wall
		{
		    margin-top: 20px;
		    padding: 40px 0px 20px 0px;
		    background-color: #f7f7f7;
		    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		}
		.login-title
		{
		    color: #555;
		    font-size: 18px;
		    font-weight: 400;
		    display: block;
		}
		.profile-img
		{
		    width: 96px;
		    height: 96px;
		    margin: 0 auto 10px;
		    display: block;
		    -moz-border-radius: 50%;
		    -webkit-border-radius: 50%;
		    border-radius: 50%;
		}
		.need-help
		{
		    margin-top: 10px;
		}
		.new-account
		{
		    display: block;
		    margin-top: 10px;
		}
	   </style>
	   <link href="../assets/css/bootstrap.css" rel="stylesheet" />
		<div class="container">
		    <div class="row">
		        <div class="col-sm-6 col-md-4 col-md-offset-4">
		            <!--<h1 class="text-center login-title">TECHU Julio Manrique</h1>-->
		            <div class="account-wall">
		                <img class="profile-img" src="../../assets/img/bbva_logo.jpeg" alt="">
		                <form class="form-signin">
		                <input type="text" class="form-control" value="{{dni::input}}" placeholder="DNI" required autofocus>
		                <input type="password" class="form-control" value="{{password::input}}" placeholder="Contraseña" required>
		                <paper-button class="btn btn-lg btn-primary btn-block" on-tap="login">Entrar</paper-button>
		                <label class="checkbox pull-left">
		                    <input type="checkbox" value="remember-me">
		                    Recordarme
		                </label>
		                <a href="#" class="pull-right need-help">Necesitas ayuda? </a><span class="clearfix"></span>
		                </form>
		            </div>
		            <a href="#" class="text-center new-account">Registrarme</a>
		        </div>
		    </div>
		</div>

		<paper-dialog id='messageGlobal' modal>
	      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
	      <div class="{{messageStyle::input}}" role="alert">
	        {{message::input}}
	      </div>
	    </paper-dialog>

		<iron-ajax
		id="doLogin"
	    url=[[api.api_host]][[api.api_login]]
	    content-type="application/json"
	    method="POST"
	    handle-as="json"
	    on-response="loginAJAXResponse"
	    on-error="showErrorLogin">

	</template>

	<script>
	   class LoginPage extends Polymer.Element {
	     	static get is() { return 'login-page'; }

	     	static get properties() {
		      	return {
			        data_storage:{
			          type: Object,
			          notify: true
			        }

			      };
	    	}

	     	login() {
		     	var loginData = {
		          "dni" : this.dni,
		          "password" : this.password
		        };
		        this.$.doLogin.body = JSON.stringify(loginData);
		        this.$.doLogin.generateRequest();

	     	}

	     	loginAJAXResponse(data) {
	     		this.data_storage = {
		          "dni":this.dni,
		          "idUsuario":data.detail.response.respuesta.idUsuario,
		          "nombres":data.detail.response.respuesta.nombres,
		          "token":'Basic '+data.detail.response.token

		        }
		      	document.querySelector("techu-jmanrique").set('route.path', "/menu");
		    }

		    showErrorLogin(error) {
		      	this.messageStyle="alert alert-danger";
		        this.message="DNI o password incorrectos.";
		        this.$.messageGlobal.open();
		    }
	   }

	   window.customElements.define(LoginPage.is, LoginPage);
	</script>

<dom-module>
