<dom-module id="menu-page">
	
	<template>
		<style>
	    :host { display: block; color: #185aa3; }
	    .ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
	   </style>
	   <link href="../assets/css/bootstrap.css" rel="stylesheet" />
	   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h2>Men&uacute;</h2>
					<p>Selecciona una operaci&oacute;n</p>
				</div>
			</div>

		    <div class="row">
		    	<div class="col-md-offset-4">
			    <ul class="ds-btn">
			     	<li>
			          <a class="btn btn-lg btn-success" href="/cuenta/">
			          <i class="glyphicon glyphicon-link pull-left"></i>
			          <span>Cuentas<br><small>Revisa tus cuentas</small></span></a> 
			        </li>
			        <li>
			          <a class="btn btn-lg btn-warning" href="/transferencia/">
			          <i class="glyphicon glyphicon-user pull-left"></i>
			          <span>Transferencias<br><small>Realiza transferencias</small></span></a> 
			        </li>
			    </ul>
		    	</div>
			</div>
		</div>
	</template>
	
	<script>
	   class MenuPage extends Polymer.Element {
	     static get is() { return 'menu-page'; }
	   }

	   window.customElements.define(MenuPage.is, MenuPage);
	</script>

<dom-module>