<dom-module id="movimiento-page">

	<template>
		<style>
	    :host { display: block; color: #185aa3; }
	    	.glyphicon-lg
			{
			    font-size:4em
			}
			.info-block
			{
			    border-right:5px solid #E6E6E6;margin-bottom:25px
			}
			.info-block .square-box
			{
			    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:20px 0
			}
			.info-block.block-info
			{
			    border-color:#20819e
			}
			.info-block.block-info .square-box
			{
			    background-color:#20819e;color:#FFF
			}
	   </style>
	   <link href="../assets/css/bootstrap.css" rel="stylesheet" />
		<div class="container">
		    <div class="row">
				<h2>Movimientos de la cuenta </h2>
				<!--<paper-button class="btn btn-lg btn-primary btn-block" on-tap="cargarCuenta">Cargar</paper-button>-->
		        <div class="searchable-container">
		        	<template is="dom-repeat" items={{listaMovimientos}} as="movimiento">
			        	
			            <div class="items col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix">
			               <div class="info-block block-info clearfix">
			                    <div class="square-box pull-left">
			                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
			                    </div>
			                    <h5>Cuenta: {{movimiento.cuentaRelacionada}}</h5>
			                    	<h4 class$="{{_getClass(movimiento.tipoMovimiento)}}">Monto: S/. {{movimiento.monto}} </h4>
			                    <p>Referencia: {{movimiento.referencia}}</p>
			                    <p>Fecha: {{movimiento.fecha}}</p>
			                </div>
			            </div>
			            
		        	</template>
		        </div>
			</div>
		</div>

		<iron-ajax
		id="doMovimientosGetByUsuarioAndCuenta"
	    url=[[api.api_host]][[api.api_usuario]]/[[data_storage.idUsuario]]/[[api.api_cuentas]][[parametros.path]]/[[api.api_movimientos]]
		auto=""
	    content-type="application/json"
	    method="GET"
	    handle-as="json"
	    on-response="movimientosByUserAndCuentaAJAXResponse"
	    on-error="showErrorMovimientosByUserAndCuenta"
	    headers$='{"authorization": "{{data_storage.token}}"}'>


	</template>

	<script>
	   class MovimientoPage extends Polymer.Element {
	     	static get is() { return 'movimiento-page'; }

	     	/*cargarCuenta() {
		        this.$.doCuentasGetByUser.generateRequest();

	     	}*/
	     	static get properties() {
		      	return {
			        parametros:{
			          type: Object,
			          notify: true
			        }

			      };
	    	}

	     	movimientosByUserAndCuentaAJAXResponse(data) {
	     		this.listaMovimientos=data.detail.response;

		    }

		    showErrorMovimientosByUserAndCuenta(error) {
		      	console.info("error");
		    }

		    _getClass(tipoMovimiento){
		    	console.info(tipoMovimiento);
		      return (tipoMovimiento=='abono') ? "text-primary" : "text-danger";
		    }
	   }
	   
	   window.customElements.define(MovimientoPage.is, MovimientoPage);
	</script>

<dom-module>
