<dom-module id="transferencia-page">
	
	<template>
		<style>
	    :host { display: block; color: #185aa3; }
	   </style>
	   <link href="../assets/css/bootstrap.css" rel="stylesheet" />

	   	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2>Transferencias</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h4><strong>Introducir cuenta de cargo</strong></h4>
					<!--<input type="text" class="form-control" value="{{cuentaCargo::input}}" placeholder="Cuenta Cargo" required>-->
					<select class="form-control"  id="cuenta">
			          <option value="">Seleccionar cuenta de cargo</option>
			          <template is="dom-repeat" items="[[cuentasCargoForUsuario]]" as="cuenta" index-as="index">
			            <option value="[[cuenta.idCuenta]]_[[cuenta.nroCuenta]]">[[cuenta.nroCuenta]] - [[cuenta.nomCuenta]]</option>
			          </template>
			        </select>
				</div>
				<div class="col-md-3 text-left">
					<h4><strong>Introducir cuenta de abono</strong></h4>
					<input type="text" class="form-control" value="{{cuentaAbono::input}}" on-change="buscarUsuarioAbono" placeholder="Cuenta Abono" required>
					<h5 class="text-success"><strong>[[beneficiario]]</strong></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<h4><strong>Referencia</strong></h4>
					<input type="text" class="form-control" value="{{referencia::input}}" placeholder="Ingresar Referencia" required>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<h4><strong>Monto a transferir</strong></h4>
					<input type="text" class="form-control" value="{{montoTransferir::input}}" placeholder="Ingresar Monto" required>
				</div>
			</div>
			<div><br/></div>
			<div class="row">
				<div class="col-md-12">
					<paper-button class="btn btn-success" on-tap="transferir">Transferir</paper-button>
				</div>
			</div>
		</div>

		<paper-dialog id='messageGlobal' modal>
	      <paper-button dialog-dismiss class="paper-buton-close"> X </paper-button>
	      <div class="{{messageStyle::input}}" role="alert">
	        {{message::input}}
	      </div>
	    </paper-dialog>

		<iron-ajax
		id="doTransferenciaUsuarioCargoAndUsuarioAbono"
	    url=[[api.api_host]][[api.api_movimientos]]
	    content-type="application/json"
	    method="POST"
	    handle-as="json"
	    on-response="transferenciaAJAXResponse"
	    on-error="showErrorTransferencia"
	    headers$='{"authorization": "{{data_storage.token}}"}'>

	    <iron-ajax
		id="doBuscarUsuarioAbono"
	    url=[[api.api_host]][[api.api_usuario]]/[[api.api_cuentas]]/{{cuentaAbono}}
	    content-type="application/json"
	    method="GET"
	    handle-as="json"
	    on-response="buscarUsuarioAbonoAJAXResponse"
	    on-error="showErrorBuscarUsuarioAbono"
	    headers$='{"authorization": "{{data_storage.token}}"}'>

	    <iron-ajax
		id="doCuentasGetByUser"
		auto=""
	    url=[[api.api_host]][[api.api_usuario]]/[[data_storage.idUsuario]]/[[api.api_cuentas]]
		auto=""
	    content-type="application/json"
	    method="GET"
	    handle-as="json"
	    on-response="buscarCuentasByUsuarioAJAXResponse"
	    on-error="showErrorBuscarCuentasByUsuario"
	    headers$='{"authorization": "{{data_storage.token}}"}'>

	</template>
	
	<script>
	   class TransferenciaPage extends Polymer.Element {
		     static get is() { return 'transferencia-page'; }
		     static get properties() {
		        return {
				     beneficiario: {
			            type: String
			         },
			         data_storage:{
				          type: Object,
				          notify: true
				     }
		         }
		     }

		     transferir() {
		     	console.info('Cuenta de cargo seleccionada: '+this.$.cuenta.value);
		     	
		     	//Dividiendo idCuenta de cargo y nroCuentaCargo

		     	var idnroCargo = this.$.cuenta.value; 
		     	idnroCargo.split("_");
		     	var idCuentaCargo = parseInt(idnroCargo.split("_")[0]);
		     	var cuentaCargo = idnroCargo.split("_")[1];
		     	
		     	console.info('ID Cuenta de cargo: '+idCuentaCargo);
		     	console.info('Cuenta de cargo: '+cuentaCargo);

		       	var transferirData = {
		       	  "idCuentaCargo" : idCuentaCargo,
		          "cuentaAbono" : this.cuentaAbono,
		          "cuentaCargo" : cuentaCargo,
		          "idCuentaAbono" : this.idCuentaAbono,
		          "montoTransferir" : this.montoTransferir,
		          "idUsuarioAbono" : this.idUsuarioAbono,
		          "idUsuarioCargo" : this.data_storage.idUsuario,
		          "referencia" : this.referencia
		        };
		        this.$.doTransferenciaUsuarioCargoAndUsuarioAbono.body = JSON.stringify(transferirData);
		        this.$.doTransferenciaUsuarioCargoAndUsuarioAbono.generateRequest();
		     }

		     buscarUsuarioAbono() {
		        this.$.doBuscarUsuarioAbono.generateRequest();

	     	}

	     	buscarUsuarioAbonoAJAXResponse(data) {
	     			console.info(data.detail.response);
	     			this.idUsuarioAbono=data.detail.response.idUsuario;
	     			this.idCuentaAbono=data.detail.response.idCuenta;
		     		this.nombresAbono=data.detail.response.nombres;
		     		this.apellidosAbono=data.detail.response.apellidos;
		     		this.beneficiario="Beneficiario: "+ this.nombresAbono+" "+this.apellidosAbono;

		    }

		    showErrorBuscarUsuarioAbono(error) {
		      	this.beneficiario="";
		      	this.messageStyle="alert alert-danger";
		        this.message="Cuenta de abono no existe.";
		        this.$.messageGlobal.open();

		    }

		    transferenciaAJAXResponse(data) {
	     		console.info('Se registrò la transferencia');
	     		this.beneficiario="";
		        document.querySelector("techu-jmanrique").set('route.path', "/cuenta");

		    }

		    showErrorTransferencia(error) {
		      	console.info("error");
		    }
		    buscarCuentasByUsuarioAJAXResponse(data) {
	     			this.cuentasCargoForUsuario=data.detail.response;

		    }

		    showErrorBuscarCuentasByUsuario(error) {
		      	console.info("error");
		    }

	   }

	   window.customElements.define(TransferenciaPage.is, TransferenciaPage);
	</script>

<dom-module>