<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<!--<link rel="import" href="../componentes/login-page.html">
<link rel="import" href="../componentes/menu-page.html">
<link rel="import" href="../componentes/cuenta-page.html">
<link rel="import" href="../componentes/transferencia-page.html">-->

<dom-module id="techu-jmanrique">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-localstorage-document key="data.local" data="{{data_storage}}"></app-localstorage-document>
    <app-location route="{{route}}" ></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      	<login-page data_storage={{data_storage}} api=[[api]] page="login"></login-page>
      	<menu-page data_storage={{data_storage}} page="menu"></menu-page>
      		<cuenta-page data_storage={{data_storage}} api=[[api]] page="cuenta"></cuenta-page>
      		<movimiento-page data_storage={{data_storage}} api=[[api]] page="movimiento" parametros="[[tail]]"></movimiento-page>
      		<transferencia-page data_storage={{data_storage}} api=[[api]] page="transferencia"></transferencia-page>
    </iron-pages>

  </template>
  <script>
  	class TechuJmanrique extends Polymer.Element {
	    static get is() { return 'techu-jmanrique'; }
	    static get properties() {
			return {
		        page:{type: String, notify: true, observer: '_pageChanged'},
		        data:    Object,
					 	api: {
					      type: Object,
					      value: {
					        "api_host":"http://localhost:3000/juliomanriqueapi/v0/",
					        "api_login":"login",
					        "api_usuario":"usuario",
					        "api_cuentas":"cuentas",
					        "api_movimientos":"movimientos"
					      }
					    }
			};
      }
      static get observers() {
         return [
           '_routePageChanged(data.page)'
         ];
       }

     _routePageChanged(page) {
        if (!page) {
          //this.page = 'login';
          document.querySelector("techu-jmanrique").set('route.path', "/login");

        } else if (['login', 'menu','cuenta', 'movimiento', 'transferencia'].indexOf(page) !== -1) {
          this.page = page;
        }
      }

      _pageChanged(page) {
      		var resolvedPageUrl = "";
      		switch(page){
				case 'login':
					resolvedPageUrl= this.resolveUrl('../componentes/login-page.html');
					Polymer.importHref([resolvedPageUrl], () => {
					    
					})
					break;

				case 'menu':
					resolvedPageUrl = this.resolveUrl('../componentes/menu-page.html');
					Polymer.importHref([resolvedPageUrl], () => {
					    
					})
					break;
				case 'cuenta':
					resolvedPageUrl = this.resolveUrl('../componentes/cuenta-page.html');
					Polymer.importHref([resolvedPageUrl], () => {
					    
					})
					break;
				case 'movimiento':
					resolvedPageUrl = this.resolveUrl('../componentes/movimiento-page.html');
					Polymer.importHref([resolvedPageUrl], () => {
					    
					})
					break;
        case 'transferencia':
          resolvedPageUrl = this.resolveUrl('../componentes/transferencia-page.html');
          Polymer.importHref([resolvedPageUrl], () => {
              
          })
          break;

			}


      }
	 }
   function onLoad(){

   }

   function onError(){

   }
	 window.customElements.define(TechuJmanrique.is, TechuJmanrique);
  </script>
</dom-module>
